.MapStalker-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    gap: 10px;
}

.MapStalker-axes-wrapper {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.MapStalker-axe {
    display: flex;
    flex-direction: row;
    color: #afafaf;
    font-size: 32px;
    gap: 10px;
}

.MapStalker-title {
    font-weight: bolder;
}

.MapStalker-span-wrapper {
    gap: 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MapStalker-span-title {
    font-size: 40px;
}

.MapStalker-btn:hover {
    color: #009688;
    text-decoration : underline;
}

.MapStalker-btn {
    font-size: 40px;
    background: none !important;
    border: none !important;
    color: #df4242;
    transition: color 0.5s, text-decoration 0.5s;
    cursor: pointer;
}



.MapStalker-video {
    height: 750px;
}
