.wrapper {
    width: 100%;
    padding: 13px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: xxx-large;
    font-family: fantasy;
    font-style: oblique 14deg;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.container > .pa-input-wrapper {
    width: 600px;
    align-self: center;
}

.container:not(.showAmmunitions):not(.showMagazines):not(.showAttachments) .weapon-wrapper {
    grid-template-columns: repeat(4, 1fr);
}

.weapon-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 13px;
    width: 100%;
}

.weapon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    background-color: #444750;
    border-radius: 6px;
    padding: 13px;
    height: 100%;
}

.weapon > span {
    color: #c9c9c9;
}

.magazines,
.attachments,
.ammunitions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 21px;
    color: #c9c9c9;
    gap: 6px;
    width: 100%;
}

.magazine,
.ammunition,
.attachment {
    display: flex;
    flex-direction: row;
    gap: 13px;
    width: 100%;
}


.magazine > span,
.ammunition > span,
.attachment > span{
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.title-category {
    font-size: 21px;
}

.objects .title-category {
    font-size: 15px;
}

.filter-search {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 6px;
    width: 100%;
    max-width: 800px;
}

.filter-search > .pa-button {
    height: 100%;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 6px;
}

.search-container > .pa-input-wrapper {
    width: 100%;
}

.search-container:not(.open) > .filters {
    display: none;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    padding: 10px;
    background: #2b2f38;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: #2b2f38;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.filter > span {
    font-size: larger;
    font-weight: 400;
}


.weapon-container {
    position: relative;
}

.weapon-copy {
    background-color: #0a5e3d;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.weapon-copy:active {
    background-color: #205122;
}

.objects .weapon-copy {
    display: none;
}

.objects .weapon-container:hover .weapon-copy {
    display: block;
}
