.wrapper {
    width: 100%;
    padding: 13px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: xxx-large;
    font-family: fantasy;
    font-style: oblique 14deg;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.container > .pa-input-wrapper {
    width: 600px;
    align-self: center;
}

.weapon-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 13px;
}

.weapon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    background-color: #444750;
    border-radius: 6px;
    padding: 13px;
}

.weapon > span {
    color: #c9c9c9;
}

.magazines,
.attachments,
.ammunitions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 21px;
    color: #c9c9c9;
    gap: 6px;
}

.magazine,
.ammunition,
.attachment {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.title-category {
    font-size: 21px;
}
